VITE_APP_BACK_URL=https://facturacionelectronicatt.tecnotics.co
VITE_APP_FE_URL=https://facturacionelectronicatt.tecnotics.co

VITE_APP_EPAYCO_PUBLIC_KEY=29ec23f7e2939806214f8329eec2115b
VITE_APP_EPAYCO_CUSTOMER_ID=1565048